<h1>Editing afl_teams</h1>

<% form_for(@afl_team) do |f| %>
  <%= render :partial => 'form' %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @afl_team %> |
<%= link_to 'Back', afl_teams_path %>
